body{
    background: url("/images/bg.jpg") no-repeat;
    background-color: rgb(87, 248, 194);
    background-size: 100%;
}
h1{
    font-style: italic;
    text-decoration: underline;
    color: aliceblue;
}

table{
    border: 6px solid rgb(71, 71, 71);
    border-style: double;
    background-color: burlywood;
    width: 50%;
    height: 60%;
    float: right;
}
.red{
    color: red;
    text-align: justify;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}
.blue{
    font-size: 2rem;
    text-align: center;
    color: blue;
    font-weight: bold;
    width: 2rem;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.italic{
    text-align: left;
    font-style: italic;
    font-size: 1rem;
    padding-left: 10px;
    padding-bottom: 1.2rem;
}
